@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --blue: #70d7ff;
  --yellow: #ffd426;
  --graystrong: #1c1c1e;
  --graymid: #3a3a3c;
  --graylight: #545458;
  --grayverylight: #767680;
  --dropshadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px black,
    5px 6px 1px black, 7px 6px 1px black;
}
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--graystrong);
  color: white;
  width: 80vw;
  margin: auto;
  text-size-adjust: auto;
}
.bluetext {
  color: var(--blue);
}
.yellowtext {
  color: var(--yellow);
  font-size: 3vw;
  line-height: 1rem;
}
.whitetext {
  color: white;
}
body a {
  color: white;
  text-decoration: none;
}
/* /////////////HEADER/////////// */
header {
  position: relative;
  height: 100vh;
  text-shadow: var(--dropshadow);
}
body nav {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
body nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-size: 1.8vw;
}
body nav ul li {
  display: relative;
  padding: 1vh 1rem;
}
nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
nav a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.2rem;
  content: "";
  display: block;
  height: 1.3rem;
  left: 50%;
  position: absolute;
  background: #76768081;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: -1;
}
nav a:hover::after {
  width: 100%;
  left: 0;
}

header nav .pre-nav-number {
  font-size: 1.1vw;
  font-weight: normal;
}
header nav p {
  font-size: 2.8vw;
  font-weight: bold;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10vh;
  height: 90vh;
  /* width: 100vw;
  transform: translateX(-10vw); */
  /* overflow: hidden; */
}
.scrolldown {
  position: absolute;
  bottom: 15rem;
  right: -4rem;
  font-size: 1.4vw;
  transform: rotate(90deg);
}
.hero .icons {
  gap: 3vh;
  display: flex;
  flex-direction: column;
}
.hero .icon {
  max-width: 3rem;
  width: 5vw;
  height: auto;
}

.heromain {
  font-size: 3.3vw;
  transform: translateX(4rem);
  white-space: nowrap;
}
.cta {
  background-color: var(--graymid);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.9vw;
  margin-top: 4rem;
  font-weight: bold;
}
.ruben-portrait {
  height: 70vh;
  width: auto;
  transform: translateX(-2rem);
  z-index: -2;
}
.line {
  height: 2px;
  width: 98vw;
  background-color: var(--grayverylight);
  transform: translateX(-9vw);
}
.line-1 {
  bottom: 0px;
  position: absolute;
}
.upBtn {
  width: 3vw;
  aspect-ratio: 1 / 1;
  background-color: white;
  position: fixed;
  bottom: 2vw;
  min-width: 2rem;
  right: 2vw;
  color: var(--blue);
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5vw;
  /* display: none; */
}

/* /////////////PROJECTS/////////// */
.project {
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
  gap: 3vw;
}
.project-2 {
  flex-direction: row-reverse;
}
body h2 {
  font-size: 4vw;
  text-align: center;
  transform: translateX(-2vw);
  margin: 5vh auto;
  font-weight: bold;
  text-shadow: var(--dropshadow);
}
h2 .page-num {
  float: left;
  transform: translateX(2vw);
}

.project img {
  width: 36vw;
  height: auto;
  /* min-width: 20rem; */
  background-color: var(--grayverylight);
  padding: 3vh;
  border-radius: 1vw;
}
.project h3 {
  font-size: 2.5vw;
  font-weight: 400;
  color: var(--blue);
  text-shadow: var(--dropshadow);
}
.project .project-disc {
  font-size: 1.6vw;
  margin: 3vh auto;
  font-weight: 300;
}
.builtwith {
  font-size: 1vw;
  font-weight: 300;
}
.projectBtn button {
  background-color: var(--graymid);
  padding: 1vw 2vw;
  border-radius: 1vw;
  border: none;
  font-size: 1.7vw;
  font-weight: bold;
  color: white;
}
.projectBtn {
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
}

/* /////////////Footer/////////// */
footer {
  display: flex;
}
.icon {
  max-width: 3rem;
  width: 5vw;
  height: auto;
}
