@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --blue: #70d7ff;
  --yellow: #ffd426;
  --graystrong: #1c1c1e;
  --graymid: #3a3a3c;
  --graylight: #545458;
  --grayverylight: #767680;
  --dropshadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px black,
    5px 6px 1px black, 7px 6px 1px black;
}
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--graystrong);
  color: white;
  width: 80vw;
  margin: auto;
  text-size-adjust: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--grayverylight);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--graymid);
}
button {
  cursor: pointer;
}
.bluetext {
  color: var(--blue);
}
.yellowtext {
  color: var(--yellow);
  font-size: 3vw;
  line-height: 1rem;
}
.whitetext {
  color: white;
}
body a {
  color: white;
  text-decoration: none;
}
/*PARTICLES.JS*/
#particles-js {
  position: absolute;
  z-index: -10;
  width: 99vw;
  transform: translateX(-10vw);
}
/* /////////////HEADER/////////// */
header {
  position: relative;
  height: 100vh;
  text-shadow: var(--dropshadow);
  overflow: hidden;
}
body nav {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
body nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-size: 1.8vw;
}
body nav ul li {
  display: relative;
  padding: 1vh 1rem;
}
nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
/* .rubenname:hover {
  color: #ffd426;
  transition: all 1s ease-in-out 0s; 
} 
*/
nav a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 1vw;
  left: 50%;
  position: absolute;
  background: var(--grayverylight);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: -1;
}
nav a:hover::after {
  width: 100%;
  left: 0;
}

header nav .pre-nav-number {
  font-size: 1.1vw;
  font-weight: normal;
}
header nav p {
  font-size: 2.8vw;
  font-weight: bold;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10vh;
  height: 90vh;
  /* width: 100vw;
  transform: translateX(-10vw); */
  /* overflow: hidden; */
}
.scrolldown {
  position: absolute;
  bottom: 15rem;
  right: -4rem;
  font-size: 1.4vw;
  transform: rotate(90deg);
}
.hero .icons {
  gap: 3vh;
  display: flex;
  flex-direction: column;
}
.hero .icon {
  max-width: 3rem;
  width: 5vw;
  height: auto;
}

.heromain {
  font-size: 3.3vw;
  transform: translateX(4rem);
  white-space: nowrap;
}
.cta {
  background-color: var(--graymid);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.9vw;
  margin-top: 4rem;
  font-weight: bold;
}
.ruben-portrait {
  height: 70vh;
  width: auto;
  transform: translateX(-2rem);
  z-index: -2;
}
.line {
  height: 2px;
  width: 98vw;
  background-color: var(--grayverylight);
  transform: translateX(-9vw);
}
.line-1 {
  bottom: 0px;
  position: absolute;
}
.upBtn {
  width: 3vw;
  aspect-ratio: 1 / 1;
  background-color: white;
  position: fixed;
  bottom: 2vw;
  min-width: 2rem;
  right: 2vw;
  color: var(--blue);
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5vw;
  z-index: 10;
  /* display: none; */
}

/* /////////////PROJECTS/////////// */
.project {
  display: flex;
  justify-content: space-around;
  margin: min(8vh, 4vw) auto;
  gap: 3vw;
  text-align: center;
}
.project-2 {
  flex-direction: row-reverse;
}
body h2 {
  font-size: 3vw;
  text-align: center;
  transform: translateX(-2vw);
  margin: min(5vh, 5vw) auto;
  font-weight: bold;
  text-shadow: var(--dropshadow);
}
h2 .page-num {
  float: left;
  transform: translateX(2vw);
}
.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project img {
  width: 36vw;
  height: auto;
  /* min-width: 20rem; */
  background-color: var(--grayverylight);
  padding: 0.5vw;
  border-radius: 1vw;
}
.project h3 {
  font-size: 2vw;
  font-weight: 400;
  color: var(--blue);
  text-shadow: var(--dropshadow);
}
.project .project-disc {
  font-size: 1.5vw;
  margin: 3vh auto;
  font-weight: 300;
}
.builtwith {
  font-size: 1vw;
  font-weight: 300;
}
.projectBtn button {
  background-color: var(--graymid);
  padding: 0.5vw 1vw;
  border-radius: 1vw;
  border: none;
  font-size: 1.4vw;
  font-weight: bold;
  color: white;
}
.projectBtn {
  margin-top: 3vh;
  display: flex;
  gap: 3vw;
  justify-content: space-evenly;
}

/* /////////////SKILLS/////////// */

.skills ul {
  margin-top: min(2vw, 8vh);
  gap: 0.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills ul li {
  gap: min(1.5vh, 1.2vw);
  flex-direction: column;
  display: flex;
  width: 9vw;
  margin-bottom: min(5vh, 5vw);
}
.skills ul li img {
  width: 5vw;
  aspect-ratio: 1/1;
  margin: auto;
}
.skills ul li label {
  margin: auto;
  font-size: 1.5vw;
  text-align: center;
}
.skillscontainer {
  display: flex;
  justify-content: space-around;
}
.frontend,
.other {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.skills h3 {
  font-size: 2vw;
  text-align: center;
}
/* /////////////BLOG/////////// */
.blog {
  text-align: center;
}
/* /////////////CONTACT/////////// */
.contact button {
  font-size: 1.5vw;
  text-align: center;
  transform: translateX(36vw);
  margin: auto;
  margin-top: 2vh;
}
.contact h5 {
  text-align: center;
  font-size: 1vw;
}
.contact {
  height: fit-content;
}
.form-inputs {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 5vh;
}
form input,
textarea {
  border: 0.1vw solid white;
  color: white;
  font-size: 0.8vw;
  border-radius: 0.3vw;
  box-shadow: var(--dropshadow);
  background-color: transparent;
  padding-left: 1vw;
}
form .contact-name {
  width: 15vw;
  height: 4vh;
  margin-bottom: 2vh;
}
form .contact-email {
  height: 4vh;
  width: 15vw;
}
form .contact-message {
  width: 30vw;
  height: 15vh;
  padding-top: 1vh;
}
/* /////////////Footer/////////// */
.footerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0px;
  background-color: transparent;
  width: 99vw;
  transform: translate(-10vw, 1vh);
  font-size: 1.5vw;
}
.icon {
  max-width: 2rem;
  width: 3vw;
  height: auto;
  cursor: pointer;
}
.footer-github {
  background-color: var(--graystrong);
  border-radius: 25%;
}
/* WAVES */
.wavescontainer {
  transform: translate(-10vw, 7vh);
}
.wavescontainer svg {
  width: 99vw;
  height: 6vw;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 3.5s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 6.2s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 10s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
