@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --blue: #70d7ff;
  --yellow: #ffd426;
  --graystrong: #1c1c1e;
  --graymid: #3a3a3c;
  --graylight: #545458;
  --grayverylight: #767680;
  --dropshadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px black,
    5px 6px 1px black, 7px 6px 1px black;
}
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--graystrong);
  color: white;
  width: 80vw;
  margin: auto;
  text-size-adjust: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--grayverylight);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--graymid);
}
button {
  cursor: pointer;
}
a img:hover {
  opacity: 0.7;
}
.bluetext {
  color: var(--blue);
}
.yellowtext {
  color: var(--yellow);
  font-size: 3vw;
  line-height: 1rem;
}
.whitetext {
  color: white;
}
body a {
  color: white;
  text-decoration: none;
}
button:hover {
  opacity: 0.7;
}
.sticky {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding-top: 0.5vh;
  height: fit-content;
  z-index: 15;
  background-color: hsla(240, 4%, 11%, 0.9);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
/*PARTICLES.JS*/
#particles-js {
  position: absolute;
  z-index: 9;
  width: 99vw;
  height: 100vh;
  transform: translateX(-10vw);
}
/* /////////////HEADER/////////// */
header {
  position: relative;
  height: 100vh;
  text-shadow: var(--dropshadow);
}
body nav {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  transition: padding 0.75s ease 0s;
}
body nav ul {
  display: flex;
  gap: 0.5vw;
  list-style-type: none;
  font-size: 1.8vw;
}
body nav ul li {
  display: relative;
  padding: 1vh 1vw;
}
nav ul a {
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
/* .rubenname:hover {
  color: #ffd426;
  transition: all 1s ease-in-out 0s; 
} 
*/
nav ul a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 1vw;
  left: 50%;
  position: absolute;
  background: var(--grayverylight);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: -1;
}
nav ul a:hover::after {
  width: 100%;
  left: 0;
}

header nav .pre-nav-number {
  font-size: 1.1vw;
  font-weight: normal;
}
header nav p {
  font-size: 2.8vw;
  font-weight: bold;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10vh;
  height: 90vh;
  width: 80vw;
  /* transform: translateX(-8vw); */
  /* overflow: hidden; */
}

.heromain {
  font-size: 3.3vw;
  transform: translateX(4rem);
  white-space: nowrap;
  z-index: 10;
}

.cta {
  background-color: var(--graymid);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1.5vw 3vw;
  font-size: 1.9vw;
  margin-top: 3vw;
  font-weight: bold;
}
.hero .icons {
  gap: 3vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.hero .icon {
  max-width: 3rem;
  width: 5vw;
  height: auto;
}

.ruben-portrait {
  height: min(65vw, 65vh);
  width: auto;
  transform: translateX(-2rem);
  z-index: -2;
}
.scrolldown {
  position: absolute;
  bottom: 15rem;
  right: -4rem;
  font-size: 1.4vw;
  transform: rotate(90deg);
}
.line {
  height: 2px;
  width: 98vw;
  background-color: var(--grayverylight);
  transform: translateX(-9vw);
}
.line-1 {
  bottom: 0px;
  position: absolute;
}
.upBtn {
  width: 3vw;
  aspect-ratio: 1 / 1;
  background-color: white;
  position: fixed;
  bottom: 2vw;
  min-width: 2rem;
  right: 2vw;
  color: var(--blue);
  font-size: max(2vw, 4vh);
  font-weight: bold;
  text-align: center;
  border-radius: 0.5vw;
  z-index: 10;
  transition: all 1s ease 0s;
  /* display: none; */
}
.upBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* /////////////PROJECTS/////////// */
.project {
  display: flex;
  justify-content: space-around;
  margin: min(8vh, 4vw) auto;
  gap: 3vw;
  text-align: center;
}
.project-2 {
  flex-direction: row-reverse;
}
body h2 {
  font-size: 3vw;
  text-align: center;
  transform: translateX(-2vw);
  margin: min(7vh, 5vw) auto;
  font-weight: bold;
  text-shadow: var(--dropshadow);
}
h2 .page-num {
  float: left;
  transform: translateX(2vw);
}
.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project img {
  width: 36vw;
  height: auto;
  /* min-width: 20rem; */
  background-color: var(--grayverylight);
  padding: 0.5vw;
  border-radius: 1vw;
}
.project h3 {
  font-size: 2vw;
  font-weight: 400;
  color: var(--blue);
  text-shadow: var(--dropshadow);
}
.project .project-disc {
  font-size: 1.5vw;
  margin: 3vh auto;
  font-weight: 300;
}
.builtwith {
  font-size: 1vw;
  font-weight: 300;
}
.projectBtn button {
  background-color: var(--graymid);
  padding: 0.5vw 1vw;
  border-radius: 1vw;
  border: none;
  font-size: 1.4vw;
  font-weight: bold;
  color: white;
}
.projectBtn i {
  font-size: 2vw;
  margin-right: 0.3vw;
  color: #ffffff;
}

.projectBtn {
  margin-top: 3vh;
  display: flex;
  gap: 3vw;
  justify-content: space-evenly;
}

/* /////////////SKILLS/////////// */

.skills ul {
  margin-top: min(2vw, 8vh);
  gap: 0.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills ul li {
  gap: min(1.5vh, 1.2vw);
  flex-direction: column;
  display: flex;
  width: 9vw;
  margin-bottom: min(5vh, 5vw);
}
.skills ul li img {
  width: 5vw;
  aspect-ratio: 1/1;
  margin: auto;
}
.skills ul li label {
  margin: auto;
  font-size: 1.5vw;
  text-align: center;
}
.skillscontainer {
  display: flex;
  justify-content: space-around;
}
.frontend,
.other {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.skills h3 {
  font-size: 2vw;
  text-align: center;
}
/* /////////////BLOG/////////// */
.blogs {
  text-align: center;
}
.blog-container {
  margin: 5vh auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid;
  grid-auto-columns: 1vw * 3;
  grid-template-areas: "first active third"; */
  gap: 2vw;
}
/* .first {
  grid-area: first;
}
.third {
  grid-area: third;
}
.active {
  grid-area: active;
}
.blog-slider {
  position: relative;
} */
.blog {
  border-radius: 0.5vw;
  border: 1px solid #70d7ff;
  width: 16vw;
  padding: 1vw;
  height: fit-content;
  font-size: 0.8vw;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blog h5 {
  font-size: 1vw;
  margin: 1vh auto;
}
.blog p {
  margin: auto 1vw;
}
/* .blog-active {
  width: 22vw;
}
.blog-active h5 {
  font-size: 1.2vw;
} */
.blog:hover {
  box-shadow: 0 0 2.5px var(--blue), 0 0 5px var(--blue), 0 0 10px var(--blue);

  transition: all ease 0.5s 0s;
  padding: 1vw;
}
.blog img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.readmore {
  padding: 1vh 1vw;
  border-radius: 3px;
  font-weight: bold;
  background-color: var(--grayverylight);
  width: 60%;
  margin-top: 1vh;
}
.readmore:hover {
  background-color: var(--graymid);
}
/* .slider-counter {
  margin-bottom: 15vh;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 3vw;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
} */
/* /////////////CONTACT/////////// */
.contact button {
  font-size: 1.5vw;
  text-align: center;
  transform: translateX(36vw);
  margin: auto;
  margin-top: 2vh;
}
.contact h5 {
  text-align: center;
  font-size: 1vw;
}
.contact {
  height: fit-content;
}
.form-inputs {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 5vh;
}
form input,
textarea {
  border: 0.1vw solid white;
  color: white;
  font-size: 0.8vw;
  border-radius: 0.3vw;
  box-shadow: var(--dropshadow);
  background-color: transparent;
  padding-left: 1vw;
}
form .contact-name {
  width: 20vw;
  height: 4vh;
  margin-bottom: 2vh;
}
form .contact-email {
  height: 4vh;
  width: 20vw;
}
form .contact-message {
  width: 30vw;
  height: 15vh;
  padding-top: 1vh;
}
/* /////////////Footer/////////// */
.footerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0px;
  background-color: transparent;
  width: 99vw;
  transform: translate(-10vw, 1vh);
  font-size: 1.5vw;
}
.icon {
  max-width: 2rem;
  width: 3vw;
  height: auto;
  cursor: pointer;
}

/* WAVES */
.wavescontainer {
  transform: translate(-10vw, 7vh);
}
.wavescontainer svg {
  width: 99vw;
  height: 6vw;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 3.5s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 6.2s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 10s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.burgermenu {
  /* display: flex; */
  position: fixed;
  flex-direction: column;
  top: 0vw;
  right: 0vw;
  display: none;
  /* justify-content: flex-end; */
  transition: all 0.5s ease 0s;
  padding: 5vw;
  z-index: 10;
}
.bar {
  margin: 0.5vw;
  width: 25px;
  height: 3px;
  background-color: var(--grayverylight);
  box-shadow: var(--dropshadow);
}
.burger-active {
  width: 100%;
  background-color: var(--graylight);
  color: white;
  z-index: 12;
}

/* ANIMATIONS */
@keyframes scrollDown {
  50% {
    transform: rotate(90deg) translatex(3vw);
  }
}

body .scrolldown {
  animation: scrollDown 3s ease-in-out 0s infinite;
}
/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 700px) {
  .ruben-01 {
    display: none;
  }
  .line-1 {
    display: none;
  }
  body nav {
    position: fixed;
    left: 10%;
    top: -100%;
    gap: 0px;
    background-color: var(--graymid);
    width: 80%;
    height: fit-content;
    text-align: center;
    transition: all 0.5s ease 0s;
    justify-content: center;
    padding-bottom: 5vh;
    z-index: 11;
    opacity: 0.95;
  }
  body nav ul {
    font-size: 5vw;
    flex-direction: column;
  }
  body nav.active {
    top: 0%;
    z-index: 11;
  }
  .burgermenu {
    display: flex;
  }
  .burgermenu.active .bar {
    box-shadow: none;
  }
  .burgermenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burgermenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burgermenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .burgermenu .bar {
    transition: all 0.5s ease 0s;
  }
  .scrolldown {
    display: none;
  }
  html body header {
    height: fit-content;
  }
  .hero {
    /* flex-direction: column-reverse; */
    /* display: block; */
    /* transform: translateX(-12vw); */
    height: fit-content;
    position: relative;
  }
  header .hero .icons {
    flex-direction: row;
    /* transform: translate(33vw, 15vh); */
    position: absolute;
    bottom: 8%;
    gap: 6vw;
    left: 0%;
    /* display: block; */
  }
  .projects .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--graymid);
    padding: 3vw;
    border-radius: 2vw;
    width: fit-content;
    margin-bottom: 7vw;
  }

  .projects .project button {
    background-color: var(--graylight);
    padding: 2vw 4vw;
  }
  body .skillscontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  body .frontend,
  .other {
    width: 100%;
  }
  .blog-container {
    width: 80vw;
  }
  .blog {
    width: 25vw;
  }
  .contact button {
    font-size: 1.5vw;
    text-align: center;
    transform: translateX(34vw);
    margin: auto;
    margin-top: 2vh;
  }
  .contact h5 {
    text-align: center;
    font-size: 1vw;
  }
  .contact {
    height: fit-content;
  }
  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 5vh;
  }
  form input,
  textarea {
    border: 0.1vw solid white;
    color: white;
    font-size: 2vw;
    border-radius: 0.3vw;
    box-shadow: var(--dropshadow);
    background-color: transparent;
    padding-left: 1vw;
  }
  form .contact-name {
    width: 50vw;
    height: 4vh;
    margin-bottom: 2vh;
  }
  form .contact-email {
    height: 4vh;
    width: 50vw;
  }
  form .contact-message {
    width: 50vw;
    height: 15vh;
    padding-top: 1vh;
  }
  /* SIZING FIXES */
  .hero .heromain h1 {
    font-size: 5vw;
  }
  .hero .heromain button {
    font-size: 3.5vw;
    padding: 2.5vw 4vw;
  }
  body h2 {
    font-size: 6vw;
  }
  .projects .project h3 {
    text-shadow: none;
    font-size: 3.5vw;
  }
  .projects .project .project-disc {
    font-size: 2.5vw;
  }
  .projects .project .builtwith {
    font-size: 2vw;
  }
  .projects .project button {
    font-size: 3vw;
  }
  .skills h3 {
    font-size: 3.2vw;
  }
  html body .skills ul li {
    margin: auto 1.5vw;
  }
  .skills ul li label {
    font-size: 2vw;
  }
  .skills ul {
    margin-bottom: 5vh;
  }
  .blogs h4 {
    font-size: 3.2vw;
  }
  body .blog-container .blog h5 {
    font-size: 2vw;
  }
  body .blog-container .blog p {
    font-size: 1.4vw;
  }
  body .blog-container .blog .readmore {
    font-size: 1.8vw;
  }
  body .contact h5 {
    font-size: 2.6vw;
  }
  body .contact button {
    font-size: 3vw;
    padding: 2.5vw 5vw;
    transform: translateX(32vw);
  }
  footer .footerlinks p {
    font-size: 2.2vw;
  }
  .projectBtn i {
    font-size: 3.5vw;
    margin-right: 1vw;
  }
}
